h1 {
  background: linear-gradient(90deg, rgba(255,255,255,0.5) , rgba(61,225,163,0.5)  );
  background-size: 100% 100%;
  border-radius: 0px;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  padding: 0px;
  text-align:center;
  font-family: Yu Gothic ;
  font-size: 83px;
  position : relative;
  transition-duration: 0.2s;
}

h1:hover{
  transition-duration:0.3s;
  padding: 20px;
}

h2 {
  padding: 0px;
  font-family: Microsoft YaHei UI ;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:black;
}

.hover-underline-animation:after {
  color:white;
  content: url("SVGS/phone-outgoing.svg") " Let's Call!";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 5px;
  background-color: white;
  transform-origin: right;
  transition: transform 0.2s;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: top left;
  transition: transform 0.3s;
}

button {
    font-family: Microsoft YaHei UI;
    border:none;
    color: white;
    background-color: tranceparent;
    background-image: url("SVGS/button-background.svg");
    text-align: center;
    font-size: 25px;
    padding: 20px ;
    width: 220px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 30px;
    border-radius: 0px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

button span:after {
  content: url("SVGS/arrow-up-right.svg");
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.2s;
  color: white;

}
button:hover {
  background-color: rgba(0,0,0,0);
  background-image: tranceparent;
  color: white;
}

button:hover span {
  padding-right: 29px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 object {
   pointer-events: none;
   overflow: hidden;
 }

body {
  background: url("SVGS/background.svg") no-repeat fixed ;
  background-size: 100%;
  }

.mediaBbutton {
  font-family: Microsoft YaHei UI;
    border:none;
    color: white;
    background-color: tranceparent;
    background-image: url("SVGS/button-background.svg");
    text-align: center;
    width: 40px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 0px;
  
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes body-load {
  0% {
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0%);
  }
}

::-webkit-scrollbar {
  display: none;
}
